.paginationButton > a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.paginationButton > a[role="button"]:hover {
    color: #000000af;
    background-color: #ffffff;
}

.paginationButton > a[role="button"]:focus,
a[role="button"]:active {
    color: #000000af;
    background-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(216, 221, 229, 0.25);
}

.paginationButton > span:global(.page-link) {
    color: #000000;
    border: none;
    background-color: #ffffff;
    border-color: #ffffff;
}
