.paginationButton > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
}

.paginationButton > span:global(.page-link) {
    color: black;
    border: none;
    background-color: white;
    border-color: white;
    font-size: 24px;
}

.paginationCounter {
    font-size: 18px;
}
